* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
    caret-color: transparent;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
   

.game{
   height: 70vmin;
   width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    background-color: rgb(238, 235, 235);
    color: black;
    
}
    

#resetBtn{
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(24, 24, 24);
    color: white;
    border-radius: 1rem;
    border: none;
}

#newBtn{
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(24, 24, 24);
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: rgb(57, 241, 54);
    font-size: 5vmin;
}

.msg-container{
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.hide{
    display: none;
  }
    

